.goalAssessmentAdvice p {
  font-size: 1.1em;
}

.goalAssessmentRationale p {
  font-size: 1.1em;
}

.goalAssessmentAdvice li {
  font-size: 1.1em;
  line-height: 1.3em;
}

.goalAssessmentRationale li {
  font-size: 1.1em;
  line-height: 1.3em;
}
