.projects .newButton {
  float: right;
}

.projects h2 {
  font-size: 2rem !important;
  display: inline-block;
  margin-right: 2em !important;
  color: #273cb3 !important;
}

/* .projects .ui.table thead th {
  padding-top: 0;
  padding-bottom: 0;
} */
