.react-root {
  /* font-family: "Open Sans", Verdana, "Bitstream Vera Sans", sans-serif; */
  font-family: Roboto, Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #c2c5c5 10%, #d5d8d8 90%);
  /* background: linear-gradient(
    135deg,
    rgba(176, 212, 205, 1) 0,
    rgba(78, 96, 161, 1) 100%
  ); */

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body-content {
  flex: 1 0 auto;
}

.breadcrumbs {
  margin-top: -1em;
}

/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #FF2;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
